.container {
  border-bottom: 1px solid #e9e9e9;
}

.recordItem {
  
}

.name, .organization {
  width: 30%;
}

.phone, .creationDate {
 
}

.phone, .creationDate, .name, .organization {
  padding: 20px 5px;
}

.deleteIcon {
  height: 16px;
  cursor: pointer;
}