.container {
  border-bottom: 1px solid #e9e9e9;
}

.name, .organization {
  width: 30%;
}

.phone, .creationDate {
  width: 18%;
}

.phone, .creationDate, .name, .organization, .options {
  padding: 20px 5px;
}

.deleteIcon, .editIcon {
  height: 16px;
  cursor: pointer;
}

.editIcon {
  margin-right: 15px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}