.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.form {
  display: flex;
  max-width: 700px;
  border: 1px solid black;
  flex-direction: column;
  background:#f7f7f7;
  margin: 200px auto;
  border-radius: 3px;
  padding: 10px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}