.container {
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid black;
  flex-direction: column;
  background:#f7f7f7;
  border-radius: 3px;
  padding: 10px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.button {
  border: none;
  background: #399efc;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}